venv/
__pycache__/
*.pyc
*.pyo
*.pyd

outputs/
*.cache
*.log

training_data/**/train.cache
training_data/**/val.cache
training_data/**/labels.cache

training_data/datasets/
training_data/images/
training_data/labels/

.idea/
.vscode/

*.tmp
*.bak
